parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\<int\\>\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: tests/Integration/AdvantageTest.php

		-
			message: "#^Offset 0 does not exist on array\\<int\\>\\|null\\.$#"
			count: 2
			path: tests/Integration/AdvantageTest.php

		-
			message: "#^Argument of an invalid type array\\<int\\>\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: tests/Integration/ExplodingDiceTest.php

		-
			message: "#^Argument of an invalid type array\\<int\\>\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: tests/Integration/SuccessCountingTest.php

		-
			message: "#^Offset 0 does not exist on array\\<int, array\\{rolls\\: array\\<int, int\\>, count\\: int, cumulativeTotal\\: int, limitReached\\: bool\\}\\>\\|null\\.$#"
			count: 3
			path: tests/Unit/Roller/DiceRollerTest.php

		-
			message: "#^Offset 0 does not exist on array\\<int, array\\{rolls\\: array\\<int, int\\>, count\\: int, limitReached\\: bool\\}\\>\\|null\\.$#"
			count: 3
			path: tests/Unit/Roller/DiceRollerTest.php

		-
			message: "#^Offset 1 does not exist on array\\<int, array\\{rolls\\: array\\<int, int\\>, count\\: int, cumulativeTotal\\: int, limitReached\\: bool\\}\\>\\|null\\.$#"
			count: 2
			path: tests/Unit/Roller/DiceRollerTest.php

		-
			message: "#^Parameter \\#2 \\$array of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, array\\<int, array\\<string, array\\<int, int\\>\\|bool\\|int\\>\\>\\|null given\\.$#"
			count: 2
			path: tests/Unit/Roller/DiceRollerTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, array\\<int\\>\\|null given\\.$#"
			count: 1
			path: tests/Unit/Roller/DiceRollerTest.php
